# Python
__pycache__/
*.py[cod]
*.pyc
*.egg-info/

# Environment variables
.env

# Data and logs
data/*.csv
data/*.json
*.log
logs/

# Virtual environments
venv/
.venv/

# Tools
.mypy_cache/
.ruff_cache/

# Docker
postgres_data/